<div class="container-fluid">
	<div class="page-header">
		<h1>DimLib</h1>
	</div>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<ul class="nav">
					<li><a herf="#">Accueil</a></li>
					<li><a herf="#">My DimLib</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span10">
			<div class="span8">
				<p>
					Une description du site... Surement avec une vidéo sympathique
				</p>
			</div>
			<div class="span2">Quelques liens pour s'enregister, commencer à chercher, soumettre quelque chose</div>
		</div>
		<div class="span2">Ici doit aller la publicité</div>
		<footer class="span12">Un footer à faire</footer>
	</div>
</div>