@(user: models.User)(implicit request: play.mvc.Http.RequestHeader)
@import securesocial.core.IdentityProvider
@import Http.Context.Implicit
 
<!-- First column -->
<div class="span3">
	<pre>{{user.firstName}}</pre>
	<img src={{user.avatarUrl}} />
</div>
<!-- Second column -->
<div class="span9">
	<div class="row">
		<pre ng-hide="user.providerId=='userpass'">Vous etes logge avec: {{user.providerId}} (modifications non autorisees)</pre>
		<pre>email: <input ng-model="user.email" type="text" value={{user.email}} ng-disabled="user.providerId!='userpass'" /></pre>
		<pre>prenom: <input ng-model="user.firstName" type="text" value={{user.firstName}} ng-disabled="user.providerId!='userpass'" /></pre>
		<pre>nom: <input ng-model="user.lastName" type="text" value={{user.lastName}} ng-disabled="user.providerId!='userpass'" /></pre>
		<pre>pointure: <input ng-model="user.shoesMeasure" type="text" value={{user.shoesMeasure}} ng-disabled="user.providerId!='userpass'" /></pre>
		@if(user.getProviderId == "userpass"){
		@user.passwordInfo.map { info =>
	    <a target="_self" class="btn" href="@securesocial.core.providers.utils.RoutesHelper.changePasswordPage.absoluteURL(Implicit.request(), IdentityProvider.sslEnabled)">
        	Change Password
    	</a>
		}}
		<a class="btn" ng-show="user.providerId=='userpass'" ng-click="updateUser()">Mettre a jour</a>
	</div>
</div>
