<div nb-controller="BrandsListCtrl">
  <div class="row">
    <div class="span3">
    	<p>
	      <!--Sidebar content-->
	      Search: <input ng-model="query">
    	</p>
    </div>
    <div class="span7">
      <!--Body content-->

      <ul class="brands">
        <li ng-repeat="brand in brands | filter:query" class="thumbnail">
          <a href="brands/{{brand.id}}" class="thumb"><img ng-src="{{brand.thumbnail}}"></a>
          <a href="brands/{{brand.id}}">{{brand.name}}</a>
          <p>{{brand.name}}</p>
        </li>
      </ul>
    </div>
    <div class="span2">
    	<p>here goes the pub</p>
    </div>
  </div>
</div>