@(title: String = "DimLib", user: Option[securesocial.core.Identity] = None)
@main(title, user){
<div class='row'>
	<div class='span3'>
		<a href='account#/dashboard'>@Messages("dimlib.account.links.dashboard")</a>
	</div>
	<div class='span3'>
		<a href='account#/contribs'>@Messages("dimlib.account.links.contribs")</a>
	</div>
	<div class='span3'>
		<a href='account#/requests'>@Messages("dimlib.account.links.requests")</a>
	</div>   
	<div class='span3'>
		<a href='account#/account'>@Messages("dimlib.account.links.myaccount")</a>
	</div>
	<div ng-view></div> 
</div>
}