<div class="container">
	<div class="page-header">
		<h1>DimLib</h1>
	</div>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<ul class="nav">
					<li><a herf="#">@Messages("dimlib.navbar.home")</a></li>
					<li><a herf="#">@Messages("dimlib.navbar.myDimLib")</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span8">
			<p>
				@Messages("dimlib.welcome.mainDescription")
			</p>
		</div>
		<div class="span2">@Messages("dimlib.welcome.links")</div>
		<div class="span2">Ici doit aller la publicité</div>
		<footer class="span12">Un footer à faire</footer>
	</div>
</div>