<div class="row-fluid">
	<div class="span6">
		<p>
			@Messages("dimlib.welcome.mainDescription")
		</p>
	</div>
	<div class="span4">
	  <p>
	    <a href="#brands" class="btn btn-primary btn-large">
			@Messages("dimlib.welcome.links.search")
	    </a>
	  </p>
	  <p>
	    <a class="btn btn-primary btn-large">
			@Messages("dimlib.welcome.links.submit")
	    </a>
	  </p>
	  <p>
	    <a class="btn btn-primary btn-large">
			@Messages("dimlib.welcome.links.submit")
	    </a>
	  </p>
	</div>
	<div class="span2">Ici doit aller la publicité</div>
	<footer class="span12">Un footer à faire</footer>
</div>
